.sidebar-txt{
  display: inline-block;
}

.brand-grp {
  margin: 1rem auto 2rem;
}

.logo{
  position: relative;
  top: 0.5rem;

}

.side-img{
  /* margin-left: 1.5rem; */
  margin-right: 1.5rem;
}

.side-img.logo{
  /* margin-left: 1.5rem; */
  margin-right: 1rem;
}

body {
  margin: 0;
  background-color: #f9f6f7;
}

.sidebar-options{
  margin: 0.5rem auto 0.5rem;
}

.sidebar-options:first-child{
  margin: 0.5rem auto 0.5rem;
  background-color: rgba(220,214,247,0.1);
  color: #b4aee8;
}

.brand{
  display: inline-block;
}

.sidebar {
  color: #929aab;
  font-family: 'Montserrat', sans-serif;
  background-color: #1b262c;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: inline-block;
}

hr{
  border-style: none;
  height: 0.05rem;
  background-color: rgba(146,154,171,0.3);
  margin: 2.5rem auto 2.5rem;
}

.mainArea{
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header-img:first-child{
  margin-left: 37rem;
}
.header-img:last-child{
  margin-left: 1.5rem;
}
.header-img{
  position: relative;
  top: 0.2rem;
}
h3 {
  display: inline-block;
}
h5{
  display: inline-block;
}
.divider{
  height:1.2rem;
  margin: auto 1rem auto;
}
.profile-pic{
  margin-left: 0.5rem;
  position: relative;
  top: 1rem;
}
.stat{
  display: inline-block;
  border-style: solid;
  width: 21%;
  height: 6rem;
  margin: 5% 2% 5%;
  background-color: #ffffff;
  border-color: rgba(146,154,171,0.3);
  text-align: center;
  border-radius: 0.5rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;

}

h1{
  margin-top: 0;
}

h4 {
  margin-top: 0;
  color: rgba(146,154,171,0.8);
}


div.stat:first-child{
  margin-left: 0;
}
div.stat:last-child{
  margin-right: 0;
}

.stat:hover {
  color: #7868e6;
  border-color: rgb(120,104,230);
}
